{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Mot de passe oublié{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <h1 class="my-5">Mot de passe oublié</h1>
            <p>Veuillez taper l'adresse email que vous avez renseignée lors de votre inscription.</p>
            <p>Un email de réinitialisation de votre mot de passe sera envoyé à cette adresse.</p>
            {{ form_start(emailForm) }}
            {{ form_widget(emailForm) }}
            <button type="submit" class="btn btn-success my-3">Valider</button>
            <a href="{{ path('login') }}" class="btn btn-danger my-3 ml-2">Annuler</a>
            {{ form_end(emailForm) }}
        </div>
    </div>
{% endblock %}