    <div class="container">
        <div class="row my-4">
            <form name="filtreSortie" method="post">
                <fieldset>
                    <legend>Filtrer les sorties</legend>
                    <div class="col1">
                        <div class="campus">
                            <label for="campus">Campus : </label>
                            <select name="campus" id="campus" class="form-select">
                                <option selected>Choisir son campus</option>

                                {% for c in campus %}
                                    <option value="{{ c.id }}">{{ c.nom }}</option>
                                {% endfor %}

                            </select>
                        </div><br>

                        <div class="form-group has-search">
                            <label for="rechercheParNom">Le nom de la sortie contient : </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-search"> </i>
                                </div>
                                <input type="search" class="form-control" name="rechercheParNom" id="rechercheParNom" placeholder="search">
                            </div>
                        </div><br>

                        <div class="dates form-group">

                            <div class="input-group  align-items-center">
                                Entre le <input type="date" class="form-control" id="dateDebut" name="dateFin">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar">
                                    </i>
                                </div>
                                et le <input type="date" class="form-control ml-2" id="dateFin" name="dateFin">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col2 form-check " id="mesSorties">
                        <input type="checkbox" class="form-check-input" id="mesSortiesOrganisees" name="mesSortiesOrganisees">
                        <label for="mesSortiesOrganisees" class="form-check-label">Sorties dont je suis l'organisateur/trice</label><br>

                        <input type="checkbox" class="form-check-input" id="mesInscriptions" name="mesInscriptions">
                        <label for="mesInscriptions" class="form-check-label">Sorties auxquelles je suis inscrit/e</label><br>

                        <input type="checkbox" class="form-check-input" id="sortiesNonInscrit" name="sortiesNonInscrit">
                        <label for="sortiesNonInscrit" class="form-check-label">Sorties auxquelles je ne suis pas inscrit/e</label><br>

                        <input type="checkbox" class="form-check-input" id="sortiesPassees" name="sortiesPassees">
                        <label for="sortiesPassees" class="form-check-label">Sorties passées</label><br><br>

                        <button class="btn btn-primary" type="submit">Rechercher</button>
                    </div>
                </fieldset>

            </form>


        </div>
    </div>

