<form method="post" action="{{ path('sortie_delete', {'noSortie': sortie.noSortie}) }}" onsubmit="return confirm('Confirmez-vous la suppression de la sortie ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.noSortie) }}">
    <br>
    <button class="btn btn-danger">Supprimer</button>
</form>
