{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/sortie.css') }}">
{% endblock %}

{% block title %}Nouvelle sortie{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <h1 class="mt-5">Nouvelle sortie</h1>
        </div>
    </div>
    {{ include('sortie/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/sortie.js') }}"></script>
    <!-- <script>abonnement()</script> -->
{% endblock %}

