{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/sortie.css') }}">
{% endblock %}

{% block title %}Nouvelle sortie{% endblock %}

{% block main %}
    <h1>Nouvelle sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('sortie_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
