<form method="post" action="{{ path('ville_delete', {'id': ville.id}) }}" onsubmit="return confirm('Supprimer cette ville ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
    <br>
    <button class="btn btn-danger">Supprimer</button>
</form>
