{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/villes.css') }}">
{% endblock %}

{% block title %}Ajouter une ville{% endblock %}

{% block main %}


    <div class="contenu">
        <h1 class="mt-5">Ajouter une ville</h1>
        <div class="colVille2">
            {{ include('ville/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

