
{% extends 'base.html.twig' %}

{% block title %}Désolé !{% endblock %}

{% block main %}
    <h1>Désolé !</h1>

        <p>
            Vous n'êtes pas autorisé à accéder à cette ressource (403).
        </p>

{% endblock %}