
{% extends 'base.html.twig' %}

{% block title %}Désolé !{% endblock %}

{% block main %}
    <h1>Désolé !</h1>
    <p>
        La ressource que vous demandez est inytrouvable (404).
    </p>
{% endblock %}