
{% extends 'base.html.twig' %}

{% block title %}Désolé !{% endblock %}

{% block main %}
    <h1>Désolé !</h1>
        <p>
            Une erreur est survenue dans le traitement de la requête (400).
        </p>
{% endblock %}