
{% extends 'base.html.twig' %}

{% block title %}Désolé !{% endblock %}

{% block main %}
    <h1>Désolé !</h1>

    <p>
        Une erreur s'est produite dans l'application (500).
    </p>

{% endblock %}